* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 900px;
  margin: 20px auto;
  border: 2px #ccc solid;
}

.header {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.navbar li {
  list-style: none;
  margin-left: 10px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

footer  {
  border-top: 2px solid black;
}

