* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 900px;
  margin: 20px auto;
  border: 2px #ccc solid;
}

#homepage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 40px;
  column-gap: 2%;
}

.show {
  display: flex;
  flex-direction: column;
  width: 32%;
  margin-bottom: 20px;
  border: 1px #ccc solid;
  background-color: pink;
}

.show img {
  width: 100%;
}

.show-name {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.show-likes img {
  width: 15px;
}

button {
  width: 75%;
  margin: 15px auto 0 auto;
  text-align: center;
  padding: 4px 8px;
}
